# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor/IDE
.vscode/
.idea/
*.iml

# Python
**/__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
venv/
resource-management/model-ml/venv/

# Java (Maven)
**/target/
.project
.classpath
.settings/

# Env/secrets
.env
*.env

# Date mari (nu le urca în git)
archive/
resource-management/model-ml/data/*.csv